# Python
__pycache__/
*.py[cod]
*.class
.env
.venv
env/
venv/
ENV/
.streamlit/secrets.toml

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Model files (if they're large, you might want to add them to .gitignore)
# model.pkl
